<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n" />
        </Console>

        <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，适合临时测试用-->
        <File name="Filelog" fileName="info.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="All">
            <AppenderRef ref="console" />
            <AppenderRef ref="Filelog" />
        </Root>
    </Loggers>
</Configuration>